<!doctype html>
<html lang="en" ng-app id="ng-app">
<head>
	<meta charset="UTF-8">
	<title>:: milkmidi :: </title>
	<meta name="description" content="milkmidi,flash,PV3D,Html5,CreateJS">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>    
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/layout.css" />
	<link rel="image_src" href="images/milkmidi_icon.png"/> 		
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.createjs.com/easeljs-0.6.1.min.js"></script>
	<script src="http://code.createjs.com/preloadjs-0.3.1.min.js"></script>
	<script src="http://code.createjs.com/tweenjs-0.4.1.min.js"></script>
    <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
	<script src="js/milkmidi.detectmobile.min.js"></script>		
    <script src="js/app.min.js"></script>
    
    <script>
	function MainController($scope, $http){
		
	    $scope.showCategory = function ( category ) {
	        if ( $scope.currentCategory == category ) {
	            $scope.currentCategory = undefined;
	        } else {
	            $scope.currentCategory = category;
	            $( 'html,body' ).animate( {
	                scrollTop: '+=600px'
	            } )
	        }
	        return false;
		}
		$scope.$watch( 'currentCategory', function ( newValue, oldValue ) {
		    if ( newValue != undefined ) {
		        $http.get( 'xml/' + newValue + '.txt' ).success( function ( res ) {
		            $scope[newValue] = res;
		            console.log( "currentCategory ajax length", res.length );
		        } );
		    }
		    console.log("currentCategory:"+newValue);
		} );
		//$scope.currentCategory = 'android';
		
	}

    </script>
</head>
<body onload="init();">
<!--
               ___    __                          __         
           __ /\_ \  /\ \                  __    /\ \  __    
  ___ ___ /\_\\//\ \ \ \ \/'\     ___ ___ /\_\   \_\ \/\_\   
/' __` __`\/\ \ \ \ \ \ \ , <   /' __` __`\/\ \  /'_` \/\ \  
/\ \/\ \/\ \ \ \ \_\ \_\ \ \\`\ /\ \/\ \/\ \ \ \/\ \L\ \ \ \ 
\ \_\ \_\ \_\ \_\/\____\\ \_\ \_\ \_\ \_\ \_\ \_\ \___,_\ \_\
 \/_/\/_/\/_/\/_/\/____/ \/_/\/_/\/_/\/_/\/_/\/_/\/__,_ /\/_/
 
-->
	<div id="wrap" ng-controller="MainController">
		
 		<div id="ie_go_to_hell">    		
    	</div>

		
		<div id="canvas_wrap">
			<canvas id="canvas" width="600" height="360" style="background-color:#f6f6f6"></canvas>			
			<!--f6f6f6-->
    	</div> 
		<div id="inner">
			<a id="blog_btn" class="kv_btn" href="http://milkmidi.blogspot.com" target="_blank"></a>
			<a id="facebook_btn" class="kv_btn" href="http://www.facebook.com/milkmidifans" target="_blank" ></a>
		</div><!--inner-->
        <br />

        <div class="box_wrap" >           
        	<a class="category_box category_android animated" ng-click="showCategory('android')">
	        	<p>Android</p>
            </a>
        </div><!--box_wrap-->

        <div class="category_item_wrap" ng-show="currentCategory=='android'">            
            <div class="category_item" ng-class="{category_item_bg_shadow:d.shadow == '1'}" ng-repeat="d in android">    
                <a class="category_item_inner animated" href="{{d.url}}" target="_blank">
                    <p class="category_item_inner_title">{{d.title}}</p>            
                    <img ng-src="{{d.imgURL}}" />                    
                    <p class="category_item_inner_title">{{d.date}}</p>
                    <p class="category_item_inner_description">{{d.description}}</p>
                </a>                
            </div>            
        </div>



        <div class="box_wrap" >           
        	<a class="category_box category_books animated" ng-click="showCategory('books')">
	        	<p>Books</p>
            </a>
        </div><!--box_wrap-->

        <div class="category_item_wrap" ng-show="currentCategory=='books'">            
            <div class="category_item" ng-class="{category_item_bg_shadow:d.shadow == '1'}" ng-repeat="d in books">    
                <a class="category_item_inner animated" href="{{d.url}}" target="_blank">
                    <p class="category_item_inner_title">{{d.title}}</p>            
                    <img ng-src="{{d.imgURL}}" />                    
                    <p class="category_item_inner_title">{{d.date}}</p>
                    <p class="category_item_inner_description">{{d.description}}</p>
                </a>                
            </div>            
        </div>



        <div class="box_wrap">
            <a class="category_box category_html5 animated" ng-click="showCategory('html5')">
    	      	<p>HTML5</p>
            </a><!--category_html5-->                        
        </div>
         <div class="category_item_wrap" ng-show="currentCategory=='html5'">            
            <div class="category_item" ng-class="{category_item_bg_shadow:d.shadow == '1'}" ng-repeat="d in html5">    
                <a class="category_item_inner animated" href="{{d.url}}" target="_blank">
                    <p class="category_item_inner_title">{{d.title}}</p>            
                    <img ng-src="{{d.imgURL}}" />                    
                    <p class="category_item_inner_title">{{d.date}}</p>
                    <p class="category_item_inner_description">{{d.description}}</p>
                </a>                
            </div>            
        </div>

        <div class="category_end"></div>

       
	</div>

</body>
</html>